<div class="col4">
  <h1><img src="./img/bitcoin.png" alt="Bitcoin"> BTC:비트코인 <a id="reload" href="javascript:void(0)" onclick="GetBTC()"><i class="material-icons">sync</i></a> <a id="copy" href="javascript:void(0)" data-clipboard-target="#btcinfo"><i class="material-icons">content_copy</i></a></h1>
  <table id="btcinfo">
    <caption>BTC:비트코인 정보</caption>
    <col width=40%>
    <col width=60%>
    <tr><td>USD</td><td>: &#36; <span id="CoinMarketUSD_BTC">Loading..</span></td></tr>
    <tr><td>KRW</td><td>: &#8361; <span id="CoinMarketKRW_BTC">Loading..</span></td></tr>
    <tr><td>JPY</td><td>: &#165; <span id="CoinMarketJPY_BTC">Loading..</span></td></tr>
    <tr><td>CNY</td><td>: &#165; <span id="CoinMarketCNY_BTC">Loading..</span></td></tr>
    <tr><td>EUR</td><td>: &#8364; <span id="CoinMarketEUR_BTC">Loading..</span></td></tr>
    <tr><td>USDT</td><td>: <span id="CoinMarketUSDT_BTC">Loading..</span> USDT</td></tr>
    <tr><td>PoloUSDT</td><td>: <span id="PoloniexUSDT_BTC">Loading..</span> USDT</td></tr>
    <tr><td>PoloKRW</td><td>: &#8361; <span id="PoloniexKRW_BTC">Loading..</span></td></tr>
    <tr><td>Coinone</td><td>: &#8361; <span id="Coinone_BTC">Loading..</span></td></tr>
    <tr><td>Korbit</td><td>: &#8361; <span id="Korbit_BTC">Loading..</span></td></tr>
    <tr><td>Bithumb</td><td>: &#8361; <span id="Bithumb_BTC">Loading..</span></td></tr>
    <tr><td>Diff</td><td>: &#8361; <span id="Diff_BTC">Loading..</span></td></tr>
    <tr><td>K-Pre</td><td>: <span id="Pre_BTC">Loading..</span> %</td></tr>
  </table>
</div>
