<div class="col4">
  <h1><img src="./img/dash.png" alt="Dash"> DASH:대시 <a id="reload" href="javascript:void(0)" onclick="GetDASH()" class=""><i class="material-icons">sync</i></a> <a id="copy" href="javascript:void(0)" data-clipboard-target="#dashinfo"><i class="material-icons">content_copy</i></a></h1>
  <table id="dashinfo">
    <caption>DASH:대시 정보</caption>
    <col width=40%>
    <col width=60%>
    <tr><td>USD</td><td>: &#36; <span id="CoinMarketUSD_DASH">Loading..</span></td></tr>
    <tr><td>KRW</td><td>: &#8361; <span id="CoinMarketKRW_DASH">Loading..</span></td></tr>
    <tr><td>JPY</td><td>: &#165; <span id="CoinMarketJPY_DASH">Loading..</span></td></tr>
    <tr><td>CNY</td><td>: &#165; <span id="CoinMarketCNY_DASH">Loading..</span></td></tr>
    <tr><td>EUR</td><td>: &#8364; <span id="CoinMarketEUR_DASH">Loading..</span></td></tr>
    <tr><td>USDT</td><td>: <span id="CoinMarketUSDT_DASH">Loading..</span> USDT</td></tr>
    <tr><td>PoloUSDT</td><td>: <span id="PoloniexUSDT_DASH">Loading..</span> USDT</td></tr>
    <tr><td>PoloKRW</td><td>: &#8361; <span id="PoloniexKRW_DASH">Loading..</span></td></tr>
    <tr><td>PoloBTC</td><td>: <span id="PoloniexBTC_DASH">Loading..</span> BTC</td></tr>
    <tr><td>Bithumb</td><td>: &#8361; <span id="Bithumb_DASH">Loading..</span></td></tr>
    <tr><td>Diff</td><td>: &#8361; <span id="Diff_DASH">Loading..</span></td></tr>
    <tr><td>K-Pre</td><td>: <span id="Pre_DASH">Loading..</span> %</td></tr>
  </table>
</div>
