<div class="col4">
  <h1><img src="./img/dogecoin.png" alt="Dogecoin"> DOGE:도지코인 <a id="reload" href="javascript:void(0)" onclick="GetDOGE()"><i class="material-icons">sync</i></a> <a id="copy" href="javascript:void(0)" data-clipboard-target="#dogeinfo"><i class="material-icons">content_copy</i></a></h1>
  <table id="dogeinfo">
    <caption>DOGE:도지코인 정보</caption>
    <col width=40%>
    <col width=60%>
    <tr><td>USD</td><td>: &#36; <span id="CoinMarketUSD_DOGE">Loading..</span></td></tr>
    <tr><td>KRW</td><td>: &#8361; <span id="CoinMarketKRW_DOGE">Loading..</span></td></tr>
    <tr><td>JPY</td><td>: &#165; <span id="CoinMarketJPY_DOGE">Loading..</span></td></tr>
    <tr><td>CNY</td><td>: &#165; <span id="CoinMarketCNY_DOGE">Loading..</span></td></tr>
    <tr><td>EUR</td><td>: &#8364; <span id="CoinMarketEUR_DOGE">Loading..</span></td></tr>
    <tr><td>USDT</td><td>: <span id="CoinMarketUSDT_DOGE">Loading..</span> USDT</td></tr>
    <tr><td>PoloBTC</td><td>: <span id="PoloniexBTC_DOGE">Loading..</span> BTC</td></tr>
  </table>
</div>
