<div class="col4">
  <h1><img src="./img/ethereumclassic.png" alt="Ethereum-Classic"> ETC:이더리움 클래식 <a id="reload" href="javascript:void(0)" onclick="GetETC()"><i class="material-icons">sync</i></a> <a id="copy" href="javascript:void(0)" data-clipboard-target="#etcinfo"><i class="material-icons">content_copy</i></a></h1>
  <table id="etcinfo">
    <caption>ETC:이더리움-클래식 정보</caption>
    <col width=40%>
    <col width=60%>
    <tr><td>USD</td><td>: &#36; <span id="CoinMarketUSD_ETC">Loading..</span></td></tr>
    <tr><td>KRW</td><td>: &#8361; <span id="CoinMarketKRW_ETC">Loading..</span></td></tr>
    <tr><td>JPY</td><td>: &#165; <span id="CoinMarketJPY_ETC">Loading..</span></td></tr>
    <tr><td>CNY</td><td>: &#165; <span id="CoinMarketCNY_ETC">Loading..</span></td></tr>
    <tr><td>EUR</td><td>: &#8364; <span id="CoinMarketEUR_ETC">Loading..</span></td></tr>
    <tr><td>USDT</td><td>: <span id="CoinMarketUSDT_ETC">Loading..</span> USDT</td></tr>
    <tr><td>PoloUSDT</td><td>: <span id="PoloniexUSDT_ETC">Loading..</span> USDT</td></tr>
    <tr><td>PoloKRW</td><td>: &#8361; <span id="PoloniexKRW_ETC">Loading..</span></td></tr>
    <tr><td>PoloBTC</td><td>: <span id="PoloniexBTC_ETC">Loading..</span> BTC</td></tr>
    <tr><td>Coinone</td><td>: &#8361; <span id="Coinone_ETC">Loading..</span></td></tr>
    <tr><td>Korbit</td><td>: &#8361; <span id="Korbit_ETC">Loading..</span></td></tr>
    <tr><td>Bithumb</td><td>: &#8361; <span id="Bithumb_ETC">Loading..</span></td></tr>
    <tr><td>Diff</td><td>: &#8361; <span id="Diff_ETC">Loading..</span></td></tr>
    <tr><td>K-Pre</td><td>: <span id="Pre_ETC">Loading..</span> %</td></tr>
  </table>
</div>
