<div class="col4">
  <h1><img src="./img/guide.png" alt="Guide"> Guide:안내</h1>
  <table>
    <col width=10%><col width=90%>
    <tr><td><i class="material-icons">warning</i></td><td>프로그램 실행 후 데이터를 가져오는 과정에서, 현재 네트워크 상태 및 각 API 제공 서버 상황에 따라 데이터 갱신 시간이 걸립니다.</td></tr>
    <tr><td><i class="material-icons">warning</i></td><td>데이터는 1분 간격으로 갱신되며, 갱신 버튼을 눌러서 바로 갱신하실 수 있습니다.</td></tr>
    <tr><td><i class="material-icons">warning</i></td><td>특정 데이터가 없으면 표기되지 않는 데이터도 있습니다. 데이터가 안 올라올 경우 갱신 버튼을 누르시거나 기다려주세요.</td></tr>
    <tr><td><i class="material-icons">arrow_back</i></td><td>Menu, 메뉴</td></tr>
    <tr><td><i class="material-icons">sync</i></td><td>Renew, 갱신하기</td></tr>
    <tr><td><i class="material-icons">content_copy</i></td><td>Copy, 복사</td></tr>
    <tr><td><i class="material-icons">fullscreen</i></td><td>Max Window, 창 최대화</td></tr>
    <tr><td><i class="material-icons">fullscreen_exit</i></td><td>Min Window, 창 최소화</td></tr>
    <tr><td><i class="material-icons">flip_to_front</i></td><td>Always Front, 항상 앞으로</td></tr>
    <tr><td><i class="material-icons">flip_to_back</i></td><td>Cancle Always Front, 항상 앞으로 취소하기</td></tr>
  </table>
</div>
