<div class="col4">
  <h1><img src="./img/info.png" alt="Info"> Info:프로그램정보</h1>
  <table>
    <col width=20%>
    <col width=80%>
    <tr><td colspan="2">TO THE MOON (test-key)</td></tr>
    <tr><td>Node</td><td>: <span id="node"></span></td></tr>
    <tr><td>Chrome</td><td>: <span id="chrome"></span></td></tr>
    <tr><td>Electron</td><td>: <span id="electron"></span></td></tr>
    <tr><td>App Version</td><td>: 0.0.1</td></tr>
    <tr><td>Author</td><td>: SiRyuA</td></tr>
    <tr><td>Contact</td><td>: <a href="mailto:siryua@loveliver.kr">siryua@loveliver.kr</a></td></tr>
    <tr><td>License</td><td>: GNU GPL v3, CC BY-NC-SA</td></tr>
  </table>
  <div class="copyright">Copyright&copy; 2017 SiRyuA.</div>
  <div class="ment">성투하세요!</div>
</div>
<div class="col8 clearfix">
  <h1><img src="./img/gift.png" alt="Gift"> 제작자 커피사주기</h1>
  <span>주소를 클릭시 복사됩니다.</span>
    <br><br>
  <div class="col6 wallet">
    <h2>BTC:비트코인</h2>
    <img src="./img/donatebtc.png" alt="Bitcoin">
    <p><a id="copy" href="javascript:void(0)" class="btcWallet" data-clipboard-target=".btcWallet">3BEdvCVToSGRHeJCdqiavUXEKdnFpEpSdG</a></p>
  </div>
  <div class="col6 wallet">
    <h2>ETH:이더리움</h2>
    <img src="./img/donateeth.png" alt="Ethereum">
    <p><a id="copy" href="javascript:void(0)" class="ethWallet" data-clipboard-target=".ethWallet">0x403C70D2C2481139AD64EfC73B2C59B105502cd4</a></p>
  </div>
  <div class="col6 wallet">
    <h2>ETC:이더리움 클래식</h2>
    <img src="./img/donateeth.png" alt="Ethereum-Classic">
    <p><a id="copy" href="javascript:void(0)" class="etcWallet" data-clipboard-target=".etcWallet">0x403C70D2C2481139AD64EfC73B2C59B105502cd4</a></p>
  </div>
  <div class="col6 wallet">
    <h2>XRP:리플</h2>
    <img src="./img/donatexrp.png" alt="Ripple">
    <p><a id="copy" href="javascript:void(0)" data-clipboard-target=".xrpDestination">Destination Tag : <span class="xrpDestination">11902871</span></a></p>
    <p><a id="copy" href="javascript:void(0)" class="xrpWallet" data-clipboard-target=".xrpWallet">rBTjeJu1Rvnbq476Y7PDnvnXUeERV9CxEQ</a></p>
  </div>
</div>
