 <div class="col4">
  <h1><img src="./img/stratis.png" alt="Stratis"> STRAT:스트라티스 <a id="reload" href="javascript:void(0)" onclick="GetSTRAT()"><i class="material-icons">sync</i></a> <a id="copy" href="javascript:void(0)" data-clipboard-target="#stratinfo"><i class="material-icons">content_copy</i></a></h1>
  <table id="stratinfo">
    <caption>STRAT:스트라티스 정보</caption>
    <col width=40%>
    <col width=60%>
    <tr><td>USD</td><td>: &#36; <span id="CoinMarketUSD_STRAT"></span></td></tr>
    <tr><td>KRW</td><td>: &#8361; <span id="CoinMarketKRW_STRAT"></span></td></tr>
    <tr><td>JPY</td><td>: &#165; <span id="CoinMarketJPY_STRAT"></span></td></tr>
    <tr><td>CNY</td><td>: &#165; <span id="CoinMarketCNY_STRAT"></span></td></tr>
    <tr><td>EUR</td><td>: &#8364; <span id="CoinMarketEUR_STRAT"></span></td></tr>
    <tr><td>USDT</td><td>: <span id="CoinMarketUSDT_STRAT"></span> USDT</td></tr>
    <tr><td>PoloBTC</td><td>: <span id="PoloniexBTC_STRAT"></span> BTC</td></tr>
  </table>
</div>
